main {
  display: flex;
  justify-content: center; /* Alinha o conteúdo principal no centro horizontalmente */
  align-items: center; /* Alinha o conteúdo principal no centro verticalmente */
  flex-direction: column; /* Organiza os itens do conteúdo principal em uma coluna */
  gap: 56px; /* Define um espaço de 56 pixels entre os itens do conteúdo principal */
  background-color: var(--gray-500);

  div {

      display: flex; /* Utiliza flexbox para o layout do conteúdo principal */
      flex-direction: column; /* Organiza os itens do conteúdo principal em uma coluna */
      align-items: center; /* Alinha os itens do conteúdo principal no centro horizontalmente */
      justify-content: center; /* Alinha os itens do conteúdo principal no centro verticalmente */
      gap: 8px; /* Define um espaço de 8 pixels entre os itens do conteúdo principal */

      span {
        color: var(--color-red); /* Define a cor do texto como vermelho */
        font: var(--text-incosolata); /* Define a fonte do texto como Inconsolata */
      }

      h2 {
        color: var(--gray-100); /* Define a cor do título como cinza claro */
        font: var(--asap-title-md); /* Define a fonte do título como Asap */
      }
  }

  #cards {
    display: grid; /* Utiliza grid para o layout da seção */
    place-items: center; /* Alinha os itens da seção no centro */
    grid-template-columns: repeat(3, 1fr); /* Cria três colunas de tamanho igual */
    gap: 24px; /* Define um espaço de 24 pixels entre os cards */

    padding-bottom: 72px; /* Define um preenchimento de 72 pixels na parte inferior do conteúdo principal */

    article {
      width: 330px; /* Define a largura do card como 330 pixels */
      height: 280px; /* Define a altura do card como 280 pixels */
      background-color: var(--gray-400); /* Um fundo escuro para destacar o card */
      border-radius: 12px; /* Arredonda os cantos do card */
      overflow: hidden; /* Garante que a imagem não vaze das bordas arredondadas */
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
      color: var(--gray-100); /* Define a cor do texto dentro do card como cinza claro */

      /* Padding solicitado */
      padding-block: 12px;
      padding-inline: 12px;

      img {
        width: 100%; /* Faz a imagem ocupar toda a largura do card */
        height: auto;
        display: block;
        border-radius: 8px; /* Bordas arredondadas para a imagem */
      }

      h2 {
        font: var(--asap-title-sm); /* Define a fonte do título do card como Asap */
        margin-bottom: 8px; /* Espaço entre o título e o parágrafo do card */
        margin-top: 20px;
      }

      p {
        font: var(--mavenpro-text-sm); /* Define a fonte do parágrafo do card como Maven Pro */
        color: var(--gray-200); /* Define a cor do parágrafo do card como cinza médio */
        max-width: 298px;
        
      }
    }
  }

  figure {
    display: flex; /* Utiliza flexbox para o layout da figura */
    flex-direction: row; /* Organiza os itens da figura em uma linha */
    gap: 24px; /* Define um espaço de 24 pixels entre os itens da figura */
    padding-bottom: 120px; /* Define um preenchimento de 120 pixels na parte inferior da figura */


    figcaption {
    display: flex; /* Utiliza flexbox para o layout da figura */
    flex-direction: column; /* Organiza os itens da figura em uma coluna */
    padding: 20px; /* Define um preenchimento de 20 pixels nas laterais da figura */
    border: 2px solid var(--gray-400); /* Define uma borda de 2 pixels ao redor da figura com a cor cinza escuro */
    border-radius: 12px; /* Arredonda os cantos da figura */
    justify-content: center; /* Alinha os itens da figura no centro verticalmente */
    color: var(--gray-100); /* Define a cor do texto dentro da figura como cinza claro */

    width: 280px; /* Define a largura da figura como 280 pixels */
    height: 155px; /* Define a altura da figura como 155 pixels */

    img {
      width: 48px;
      height: 48px;
    }

    h3 {

      font: var(--asap-title-sm); /* Define a fonte do título da figura como Asap */
      margin-top: 20px; /* Define uma margem superior de 20 pixels para o título da figura */
      margin-bottom: 8px; /* Espaço entre o título e o parágrafo da figura */
    }

    span {
      font: var(--mavenpro-text-sm); /* Define a fonte do texto da figura como Maven Pro */
      color: var(--gray-200); /* Define a cor do texto da figura como cinza médio */
    }
  }
  }

  #contato {
    background-image: url(../images/Background_Contacts.png); /* Define a imagem de fundo do cabeçalho */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    background-size: cover; /* Faz com que a imagem de fundo cubra todo o cabeçalho */
    background-position: center; /* Centraliza a imagem de fundo */
    width: 100vw;
    display: flex; /* Utiliza flexbox para o layout da seção de contato */
    flex-direction: column; /* Organiza os itens de contato em uma coluna */
    align-items: center; /* Alinha os itens de contato no centro horizontalmente */
    justify-content: center; /* Alinha os itens de contato no centro verticalmente */
    gap: 8px; /* Define um espaço de 8 pixels entre os itens de contato */

    strong {
      font: var(--text-incosolata); /* Define a fonte do texto em negrito como Inconsolata */
      color: var(--color-purple); /* Define a cor do texto em negrito como roxo */
    }

    h2 {
      font: var(--asap-title-md); /* Define a fonte do título de contato como Asap */
      color: var(--gray-100); /* Define a cor do título de contato como cinza claro */
    }

    span {
      font: var(--mavenpro-text-sm); /* Define a fonte do texto de contato como Maven Pro */
      color: var(--gray-200); /* Define a cor do texto de contato como cinza médio */
    }

    a {
      text-decoration: none; /* Remove o sublinhado do link */
      font: var(--mavenpro-text-md); /* Define a fonte do link como Maven Pro */
      color: var(--gray-200); /* Define a cor do link como cinza médio */
      background-color: var(--gray-400); /* Define a cor de fundo do link como cinza escuro */
      padding: 20px; /* Define um preenchimento de 20 pixels ao redor do link */
      width: 400px;
      border-radius: 8px; /* Arredonda os cantos do link */
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4); /* Adiciona uma sombra ao link para dar profundidade */
      margin-bottom: 16px; /* Define uma margem inferior de 16 pixels para o link */
      

      display: flex; /* Utiliza flexbox para o layout do link */
      align-items: center; /* Alinha os itens do link no centro horizontalmente */
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: row;
      }
      
    }

  }
}

